body {
  background-image: url("https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/theworldstro.jpg");
  background-size: 1600px 900px;
}

* {
  font-family: "Times New Roman", Times, serif;
}

button {
  height: 80px;
  width: 80px;
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

#total {
  background-color: yellow;
}

p:empty {
  background-color: green;
}
