body {
  background-image: url("https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/theworldstro.jpg");
  background-size: 1800px 700px;
}

button:hover {
  background-color: blue;
  color: white;
}

#divisionSignButton{
  position:absolute;
  left:802px;
  top:148px;
}
#multiplcationSignButton{
  position:absolute;
  left:802px;
  top:250px;
}
#subtractionSignButton{
  position:absolute;
  left:802px;
  top:350px;
}
#additionSignButton{
  position:absolute;
  left:802px;
  top:450px;
}
#equalSignButton{
  position:absolute;
  left:802px;
  top:550px;
}

#decimalSignButton{
  position:absolute;
  left:575px;
  top:550px;
}
#buttonNumber0{
  position:absolute;
  left:349px;
  top:652px;
}
#buttonNumber1{
  position:absolute;
  left:349px;
  top:450px;
}
#buttonNumber2{
  position:absolute;
  left:500px;
  top:450px;
}
#buttonNumber3{
  position:absolute;
  left:651px;
  top:450px;
}
#buttonNumber4{
  position:absolute;
  left:349px;
  top:350px;
}
#buttonNumber5{
  position:absolute;
  left: 500px;
  top: 350px;
}
#buttonNumber6{
  position:absolute;
  left:651px;
  top:350px;
}
#buttonNumber7{
position:absolute;
left:349px;
top:250px;
}
#buttonNumber8{
position:absolute;
left:500px;
top:250px;
}
#buttonNumber9{
position:absolute;
left:651px;
top:250px;
}
#clearSignButton{
  position:absolute;
  left:349px;
  top:148px;
}


.number-buttons{
  width:80px;
  height: 80px;
  background-color: #3399CC;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}
.zero-button{
  width:80px;
  height: 80px;
  background-color:  #3399CC;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}
.function-buttons{
  width:80px;
  height: 80px;
  background-color:  #99CCFF;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}
.top-buttons{
  width:80px;
  height: 80px;
  background-color: #6699FF;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}
.clear-button{
  width:80px;
  height: 80px;
  background-color: #D4D4D2;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}

#negationSignButton{
  position:absolute;
  left:500px;
  top:148px;
}
#percentageSignButton{
  position:absolute;
  left:651px;
  top:148px;
}
input{
  width:599px;
  height:125px;
  position:absolute;
  left:349px;
  top:15px;
  text-align: right;
  font-size: 60px;
  color: white;
  background-color: #1C1C1C;
}

